# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
.venv/

# Project Specific
metadata/

# Secrets / Credentials (IMPORTANT!)
google_acc*.json
dropbox_acc*.txt

# Environment variables
.env

# OAuth Tokens (Keep secure!)
dropbox_tokens_*.json 